{% extends 'base_tasks.html' %}

<!-- Title -->
{% block title %} Update Email Preferences {% endblock %}

<!-- Content -->
{% block content %}
<div class="max-w-md w-full space-y-8">
  <h2 class="mt-6 text-4xl font-bold text-gray-900">
    Update Email Preferences
  </h2>
  <br />
  <form class="mt-8" action="" method="POST">
    {{ form }} {% csrf_token %}

    <div>
      <button
        type="submit"
        class="mt-8 group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-lg text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
      >
        Save
      </button>
    </div>
  </form>
</div>
{% endblock %}
